

/******************************************************************************
Question
******************************************************************************/
.question {
    width:50%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    color:#272727;
    margin-top: 24px;
}

.avatar {
    width:15%;
    background:white;
}
.avatar a img {
    border-radius:100%;
    box-shadow: 1px 1px 4px 1px black;
}

.avatar a {
    text-decoration:none;
    font-size:1.5em;
    font-family: 'Passion One', cursive;
}

.question-text {
    min-height: 200px;
    text-align: left;
    background:white;
    width: 65%;
}

.question-info {
    background:#626161;
    color:white;
    width: 100%;
}

.question-info  i {
    font-size:24px;
}

.question-sidebar {
    width:20%;
    background:White;
    display:flex;
    text-align:center;
    justify-content: center;
}
.votes {
    width:100%;
    background:white;

}
.kommentera {
    width: 100%;
}
.question-tags {
    width:100%;
}

.votes i {
    cursor:pointer;
    font-size:50px;
}

.question-title {
    width:100%;
    background:black;
    display:flex;
    color:white;
    background: #272727;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}
.title-img {
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.question-title img {
    align-self: center
}

.sort-answers {
    background:grey;
    width:50%;
    margin:auto;
}



/******************************************************************************
Comment
******************************************************************************/
.comment {
    background:orange;
    width:100%;
    display:flex;
}

/******************************************************************************
Answer
******************************************************************************/

.answer {
    width:50%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    color:#272727;
    margin-top: 24px;
}
